<app-navbar></app-navbar>
<div class ="col-lg-4">
    <div class="card  h-100 bg-black shadow text-white text-end ">
        <div class="card-content">
            <div class="card-header">
                <div class="card-body ">
                    <div class="media d-flex">
                        <div class="align-self-center">
                            <h3>Producto 1</h3>
                            <p class="card-text"> <p> Descripcion del articulo en cuestion </p>
                            <p class="card-text"><p>Marca del producto</p>
                            <p class="card-text"><b>Precio </b></p> 
                            <div>
                                <input type="hidden" name="id" value=>
                                <button type="submit" class="btn btn-danger" >Comprar</button>
                                
                                <br>
  
                                <form action=>
                                <button type="button" class="btn-primary">Agregar al carrito</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>   
  
    
  
  </div>
  
